.lista{
	column-count: 3;
	column-gap: 25px;
}
.lista{
	float: left;
	max-width: 100%;
	display: inline-block;
}
#loading{
	margin-top: -100px;
	margin-left: -150px;
	margin-right: 100px;
	margin-bottom:100px;
}
#panel{
	border-radius: 50px;
	 width:100%;
	 height:150px;
}
#panel2{
   width:100%;
   height:250px;
   position: relative;
   left: 400px;
}
#panel-text{
	border-radius: 50px;
}
#title{
  font-size: 20px;
  margin-left: 10px;
 }
#text{
 	margin-left: 10px;
 	font-size: 20px;
  font-family:'Consolas';
 }
 #text-coment{
  margin-left: 15px;
  font-size: 10px;
 }
  #page-title{
 	font-size: 40px;
 	position: relative;
  left: 450px;
 }
 #table-title{
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
 }
 .tab-content{
  width: 100%;
  height: 600px
 }
.loader {
  animation: is-rotating 1s infinite;
  border: 20px solid #e5e5e5;
  border-radius: 100%;
  border-top-color: #FF3B2A;
  height: 150px;
  width: 150px;
  margin-top: -100px;
  margin-left: -50px;
  margin-right: 100px;
  margin-bottom:100px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

/* Estilos para as abas */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #FFFFFF;
    }

    /* Links das abas */
    .tab button {
      background-color: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 12px 14px;
      transition: 0.3s;
    }

    /* Mudar a cor do link ao passar o mouse */
    .tab button:hover {
      background-color: #ddd;
    }

    /* Estilos do conteúdo das abas */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    /* Estilos para a aba ativa */
.tab button.active {
  background-color: #ccc;
}


.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.carousel__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.carousel__slide img {
  object-fit: cover;
  width: 100%;
  height: auto;
  bottom: 20px;
}

.carousel__slide.active {
  opacity: 1;
}

.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

.carousel__prev { 
  left: 10px;
}

.carousel__next {  
  right: 10px; 
}